# Desafio ML
### Expliración y análisis
<a id="top"></a>
Autorr: Mathiews Florez Zavala

<p> En esta notebook, voy a explorar los resultados de las publicaciones de MELI meduante su API de acceso público. Y se proseguirá a obtener un dataset para trabajar a posteriori, y un análisis exploratorio de los datos</p>

## Tabla de Contenidos
1. <a href="#1">Data Wrangling</a>
* 1.1 <a href="#1.1">Importando librerías y datos</a>
* 1.2 <a href="#1.2">Tratamiento de duplicados y valores NaN</a>
* 1.3 <a href="#1.3">Definiendo etiquetas y armando dataset</a>
2. <a href="#2">Completar</a>
* 2.1 <a href='#2.1'>Completar</a>
3. <a href="#3">Preproceso de datos</a>
* 3.1 <a href='#3.1'>Separación de datos en Train y Test</a>
* 3.2 <a href='#3.2'>Variables Numéricas y Categóricas</a>
* 3.3 <a href='#3.3'>Normalización de Variables</a>

---
<a href="#top">Back to Index</a>
<a id="1"></a>
### 1) Data Wrangling
<a id="1.1"></a>
#### 1.1) Importando librerias y Data

In [21]:
import requests
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from time import time, sleep

#from bs4 import BeautifulSoup

Consulto la API de Mercado Libre publica mediante búsquedas. En esta instacia me focalizaré en recopilar datos para componer una muestra de la población de publicaciones disponibles de la API de MELI

In [2]:
url = 'https://api.mercadolibre.com/sites/MLA/search?q=tv%204k'
result = requests.get(url)
type(result)

requests.models.Response

In [3]:
print('La conexión se logro con exito: ', str(result.status_code == 200))

La conexión se logro con exito:  True

In [4]:
# me fijo en el kas keys de contenido que hay, para darme una idea de lo que puedo obtener y lo que me interesa
data1 = result.json()
data1.keys()

dict_keys(['site_id', 'country_default_time_zone', 'query', 'paging', 'results', 'secondary_results', 'related_results', 'sort', 'available_sorts', 'filters', 'available_filters'])

In [5]:
data1['paging']

{'total': 3434, 'primary_results': 1000, 'offset': 0, 'limit': 50}

In [6]:
print( data1['paging']['total'] )
vector_data1 = list( range(0, data1['paging']['total'] , 50) )

3434

In [7]:
# verificamos la cantidad de registros entregados en la consulta
print('La cantidad de registros por consutla son ',str(len(data1['results'])))

La cantidad de registros por consutla son  50

La busqueda inicial arroja 1000 registros de un total de 3455 de los mismos, donde el límite esta en 50 datos por consulta.
Para no saturar el servicio con las consultas, se explorará inicialmente el contenido del que se dispone, posteriormente se extraera datos para armar un data set orientado hacia elementos digitales (televisores, telefonos, notebooks, tablets)

In [8]:
# explioramos los resultados
data1['results'][1]

{'id': 'MLA905996538',
 'site_id': 'MLA',
 'title': 'Smart Tv Hyundai 50 4k Uhd Google Android ',
 'seller': {'id': 608846165,
  'permalink': 'http://perfil.mercadolibre.com.ar/MERCADOLIBRE+ELECTRONICA_AR',
  'registration_date': '2020-07-13T13:21:30.000-04:00',
  'car_dealer': False,
  'real_estate_agency': False,
  'tags': ['brand',
   'user_info_verified',
   'large_seller',
   'credits_profile',
   'messages_as_seller'],
  'seller_reputation': {'transactions': {'total': 613410,
    'canceled': 28335,
    'period': 'historic',
    'ratings': {'negative': 0.06, 'positive': 0.93, 'neutral': 0.01},
    'completed': 585075},
   'power_seller_status': 'platinum',
   'metrics': {'claims': {'rate': 0.0084, 'value': 1109, 'period': '60 days'},
    'delayed_handling_time': {'rate': 0, 'value': 0, 'period': '60 days'},
    'sales': {'period': '60 days', 'completed': 125242},
    'cancellations': {'rate': 0, 'value': 0, 'period': '60 days'}},
   'level_id': '5_green'}},
 'price': 49999,
 'prices': {'id': 'MLA905996538',
  'prices': [{'id': '139',
    'type': 'standard',
    'conditions': {'context_restrictions': [],
     'start_time': None,
     'end_time': None,
     'eligible': True},
    'amount': 49999,
    'regular_amount': None,
    'currency_id': 'ARS',
    'exchange_rate_context': 'DEFAULT',
    'metadata': {},
    'last_updated': '2021-08-10T14:44:18Z'}],
  'presentation': {'display_currency': 'ARS'},
  'payment_method_prices': [],
  'reference_prices': [{'id': '138',
    'type': 'was',
    'conditions': {'context_restrictions': [],
     'start_time': '2021-08-10T04:15:53Z',
     'end_time': '2021-08-13T04:15:53Z',
     'eligible': True},
    'amount': 49999,
    'currency_id': 'ARS',
    'exchange_rate_context': 'DEFAULT',
    'tags': [],
    'last_updated': '2021-08-10T04:15:53Z'}],
  'purchase_discounts': []},
 'sale_price': None,
 'currency_id': 'ARS',
 'available_quantity': 1,
 'sold_quantity': 250,
 'buying_mode': 'buy_it_now',
 'listing_type_id': 'gold_special',
 'stop_time': '2041-08-05T14:44:29.000Z',
 'condition': 'new',
 'permalink': 'https://articulo.mercadolibre.com.ar/MLA-905996538-smart-tv-hyundai-50-4k-uhd-google-android-_JM',
 'thumbnail': 'http://http2.mlstatic.com/D_836204-MLA44728420590_012021-I.jpg',
 'thumbnail_id': '836204-MLA44728420590_012021',
 'accepts_mercadopago': True,
 'installments': {'quantity': 12,
  'amount': 7090.27,
  'rate': 70.17,
  'currency_id': 'ARS'},
 'address': {'state_id': 'AR-B',
  'state_name': 'Buenos Aires',
  'city_id': None,
  'city_name': 'Villa Celina'},
 'shipping': {'free_shipping': True,
  'mode': 'me2',
  'tags': ['fulfillment', 'mandatory_free_shipping'],
  'logistic_type': 'fulfillment',
  'store_pick_up': False},
 'seller_address': {'id': '',
  'comment': '',
  'address_line': '',
  'zip_code': '',
  'country': {'id': 'AR', 'name': 'Argentina'},
  'state': {'id': 'AR-B', 'name': 'Buenos Aires'},
  'city': {'id': None, 'name': 'Villa Celina'},
  'latitude': '',
  'longitude': ''},
 'attributes': [{'attribute_group_name': 'Principales',
   'id': 'BRAND',
   'name': 'Marca',
   'value_id': '1089',
   'value_name': 'Hyundai',
   'value_struct': None,
   'values': [{'id': '1089',
     'name': 'Hyundai',
     'struct': None,
     'source': 8748668969142}],
   'attribute_group_id': 'MAIN',
   'source': 8748668969142},
  {'name': 'Modelo',
   'value_id': '10320450',
   'value_struct': None,
   'attribute_group_id': 'MAIN',
   'source': 8748668969142,
   'id': 'MODEL',
   'value_name': 'HYLED-50UHD5A',
   'values': [{'id': '10320450',
     'name': 'HYLED-50UHD5A',
     'struct': None,
     'source': 8748668969142}],
   'attribute_group_name': 'Principales'},
  {'attribute_group_id': 'OTHERS',
   'source': 8748668969142,
   'id': 'ALPHANUMERIC_MODEL',
   'values': [{'id': None,
     'name': '50D2090/RT2851',
     'struct': None,
     'source': 8748668969142}],
   'value_name': '50D2090/RT2851',
   'value_struct': None,
   'attribute_group_name': 'Otros',
   'name': 'Modelo alfanumérico',
   'value_id': None},
  {'name': 'Condición del ítem',
   'value_id': '2230284',
   'value_name': 'Nuevo',
   'value_struct': None,
   'attribute_group_id': 'OTHERS',
   'id': 'ITEM_CONDITION',
   'values': [{'source': 8748668969142,
     'id': '2230284',
     'name': 'Nuevo',
     'struct': None}],
   'attribute_group_name': 'Otros',
   'source': 8748668969142},
  {'value_id': None,
   'value_name': 'HYLED',
   'value_struct': None,
   'source': 8748668969142,
   'id': 'LINE',
   'values': [{'name': 'HYLED',
     'struct': None,
     'source': 8748668969142,
     'id': None}],
   'attribute_group_id': 'OTHERS',
   'attribute_group_name': 'Otros',
   'name': 'Línea'},
  {'id': 'MAX_SPEAKERS_POWER',
   'value_id': '1160569',
   'values': [{'id': '1160569',
     'name': '16 W',
     'struct': {'number': 16, 'unit': 'W'},
     'source': 4709228965570453}],
   'attribute_group_name': 'Otros',
   'source': 4709228965570453,
   'name': 'Potencia máxima de los parlantes',
   'value_name': '16 W',
   'value_struct': {'number': 16, 'unit': 'W'},
   'attribute_group_id': 'OTHERS'},
  {'source': 4333789534002961,
   'name': 'Largo del paquete',
   'value_name': '14 cm',
   'values': [{'id': None,
     'name': '14 cm',
     'struct': {'number': 14, 'unit': 'cm'},
     'source': 4333789534002961}],
   'attribute_group_id': 'OTHERS',
   'id': 'PACKAGE_LENGTH',
   'value_id': None,
   'value_struct': {'number': 14, 'unit': 'cm'},
   'attribute_group_name': 'Otros'},
  {'id': 'PACKAGE_WEIGHT',
   'attribute_group_id': 'OTHERS',
   'attribute_group_name': 'Otros',
   'source': 4333789534002961,
   'name': 'Peso del paquete',
   'value_id': None,
   'value_name': '12700 g',
   'value_struct': {'number': 12700, 'unit': 'g'},
   'values': [{'id': None,
     'name': '12700 g',
     'struct': {'number': 12700, 'unit': 'g'},
     'source': 4333789534002961}]},
  {'id': 'WEIGHT',
   'value_id': '999656',
   'value_name': '9.6 kg',
   'values': [{'id': '999656',
     'name': '9.6 kg',
     'struct': {'number': 9.6, 'unit': 'kg'},
     'source': 4709228965570453}],
   'source': 4709228965570453,
   'name': 'Peso',
   'value_struct': {'number': 9.6, 'unit': 'kg'},
   'attribute_group_id': 'OTHERS',
   'attribute_group_name': 'Otros'}],
 'original_price': None,
 'category_id': 'MLA1002',
 'official_store_id': 1938,
 'domain_id': 'MLA-TELEVISIONS',
 'catalog_product_id': 'MLA17849007',
 'tags': ['extended_warranty_eligible',
  'good_quality_picture',
  'good_quality_thumbnail',
  'loyalty_discount_eligible',
  'catalog_product_candidate',
  'immediate_payment',
  'cart_eligible',
  'shipping_guaranteed'],
 'order_backend': 2,
 'use_thumbnail_id': True}

In [9]:
# hago otra consulta
url = 'https://api.mercadolibre.com/sites/MLA/search?q=tv%204k&offset=340'
result2 = requests.get(url)
data2 = result2.json()

Se puede obtener hasta 1000 datos sin problemas, que corresponde a los primary_results, posterior a eso necesito el ID_USER para poder acceder a un código para mi url para acceder al resto de los datos. Por ahora voy a dejarlo en 2do plano.
Y realizaré consultas de hasta 1000 registros, siendo conciente que estos 1000 resultados estan inlfuenciados por el propio algoritmo del motor de búsqueda de MELI.

In [10]:
# exploramos los datos del primer dataset
df1 = pd.DataFrame(data1['results'])
df1

,id,site_id,title,seller,price,prices,sale_price,currency_id,available_quantity,sold_quantity,...,original_price,category_id,official_store_id,domain_id,catalog_product_id,tags,catalog_listing,use_thumbnail_id,order_backend,differential_pricing
0,MLA898264823,MLA,Smart Tv Tcl 50p8m Led 4k 50,"{'id': 185702920, 'permalink': 'http://perfil....",54999.00,"{'id': 'MLA898264823', 'prices': [{'id': '16',...",None,ARS,1,121,...,NaN,MLA1002,NaN,MLA-TELEVISIONS,MLA15186500,"[loyalty_discount_eligible, brand_verified, ex...",True,True,1,NaN
1,MLA905996538,MLA,Smart Tv Hyundai 50 4k Uhd Google Android,"{'id': 608846165, 'permalink': 'http://perfil....",49999.00,"{'id': 'MLA905996538', 'prices': [{'id': '139'...",None,ARS,1,250,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,MLA17849007,"[extended_warranty_eligible, good_quality_pict...",NaN,True,2,NaN
2,MLA898844422,MLA,Smart Tv Samsung Series 7 Un50tu7000gczb Led 4...,"{'id': 608846165, 'permalink': 'http://perfil....",75999.00,"{'id': 'MLA898844422', 'prices': [{'id': '152'...",None,ARS,273,7388,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,MLA16233171,"[ahora-12, brand_verified, extended_warranty_e...",True,True,3,{'id': 35713319}
3,MLA933497704,MLA,Amazon Fire Tv Stick 4k De Voz 4k 8gb Negro...,"{'id': 76104882, 'permalink': 'http://perfil.m...",10888.00,"{'id': 'MLA933497704', 'prices': [{'id': '1', ...",None,ARS,3,2,...,NaN,MLA352001,NaN,MLA-STREAMING_MEDIA_DEVICES,MLA14141341,"[good_quality_picture, good_quality_thumbnail,...",True,True,4,NaN
4,MLA926081002,MLA,Smart Tv Bgh 50 Uhd Android,"{'id': 608846165, 'permalink': 'http://perfil....",66999.00,"{'id': 'MLA926081002', 'prices': [{'id': '37',...",None,ARS,250,250,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,None,"[ahora-12, catalog_product_candidate, extended...",NaN,True,5,{'id': 35713319}
5,MLA884683677,MLA,Smart Tv Samsung 50 4k Uhd 50tu7000,"{'id': 608846165, 'permalink': 'http://perfil....",75999.00,"{'id': 'MLA884683677', 'prices': [{'id': '154'...",None,ARS,250,500,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,MLA16233171,"[brand_verified, extended_warranty_eligible, g...",NaN,True,6,{'id': 35713319}
6,MLA929210416,MLA,Smart Tv Philco 50 4k Pld50us21a,"{'id': 608846165, 'permalink': 'http://perfil....",49999.00,"{'id': 'MLA929210416', 'prices': [{'id': '16',...",None,ARS,1,50,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,None,"[extended_warranty_eligible, good_quality_pict...",NaN,True,7,NaN
7,MLA914384399,MLA,Chromecast With Google Tv De Voz 4k 8gb Sno...,"{'id': 82274172, 'permalink': 'http://perfil.m...",11400.00,"{'id': 'MLA914384399', 'prices': [{'id': '18',...",None,ARS,31,180,...,NaN,MLA352001,NaN,MLA-STREAMING_MEDIA_DEVICES,MLA16233185,"[good_quality_picture, good_quality_thumbnail,...",True,True,8,NaN
8,MLA919581387,MLA,Smart Tv Tcl 50p715 Led 4k 50 100v/240v,"{'id': 608846165, 'permalink': 'http://perfil....",65999.00,"{'id': 'MLA919581387', 'prices': [{'id': '132'...",None,ARS,185,865,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,MLA16202534,"[ahora-12, extended_warranty_eligible, good_qu...",True,True,9,{'id': 35713319}
9,MLA878666563,MLA,Smart Tv Philips 6600 Series 50pud6654/77 Led ...,"{'id': 608846165, 'permalink': 'http://perfil....",68999.00,"{'id': 'MLA878666563', 'prices': [{'id': '198'...",None,ARS,644,2348,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,MLA15699007,"[ahora-12, brand_verified, extended_warranty_e...",True,True,10,{'id': 35713319}
10,MLA898843595,MLA,Smart Tv Samsung Series 7 Un43tu7000gczb Led 4...,"{'id': 608846165, 'permalink': 'http://perfil....",63999.00,"{'id': 'MLA898843595', 'prices': [{'id': '133'...",None,ARS,395,1374,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,MLA16234225,"[good_quality_thumbnail, loyalty_discount_elig...",True,True,11,{'id': 35713319}
11,MLA924494260,MLA,Smart Tv Sansei Tds2150ui Led 4k Uhd 50'',"{'id': 256324891, 'permalink': 'http://perfil....",53999.00,"{'id': 'MLA924494260', 'prices': [{'id': '20',...",None,ARS,500,250,...,66999.0,MLA1002,1372.0,MLA-TELEVISIONS,None,"[good_quality_thumbnail, loyalty_discount_elig...",NaN,True,12,{'id': 35713319}
12,MLA919974934,MLA,Smart Tv 50 Uhd 4k Led Noblex Dk50x6500 Hdmi T...,"{'id': 9877009, 'permalink': 'http://perfil.me...",57899.90,"{'id': 'MLA919974934', 'prices': [{'id': '17',...",None,ARS,1,50,...,NaN,MLA1002,NaN,MLA-TELEVISIONS,None,"[extended_warranty_eligible, good_quality_pict...",NaN,True,13,NaN
13,MLA917447444,MLA,Smart Tv Tcl 50p715 Dled 4k 50,"{'id': 608846165, 'permalink': 'http://perfil....",65999.00,"{'id': 'MLA917447444', 'prices': [{'id': '131'...",None,ARS,150,200,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,MLA16202534,"[good_quality_thumbnail, ahora-12, extended_wa...",NaN,True,14,{'id': 35713319}
14,MLA834338633,MLA,Xiaomi Mi Box S Mdz-22-ab De Voz 4k 8gb Neg...,"{'id': 204518843, 'permalink': 'http://perfil....",12642.00,"{'id': 'MLA834338633', 'prices': [{'id': '14',...",None,ARS,3,176,...,NaN,MLA352001,NaN,MLA-STREAMING_MEDIA_DEVICES,MLA13877783,"[brand_verified, good_quality_picture, good_qu...",True,True,15,NaN
15,MLA921848291,MLA,Smart Tv Noblex Dk55x6500 Led 4k 55,"{'id': 256324891, 'permalink': 'http://perfil....",75999.00,"{'id': 'MLA921848291', 'prices': [{'id': '33',...",None,ARS,1,250,...,96999.0,MLA1002,1192.0,MLA-TELEVISIONS,None,"[good_quality_picture, good_quality_thumbnail,...",NaN,True,16,{'id': 35713319}
16,MLA877436109,MLA,Smart Tv Tedge Led 50 Pulgadas Ntv504k Led 4k ...,"{'id': 417972986, 'permalink': 'http://perfil....",51999.00,"{'id': 'MLA877436109', 'prices': [{'id': '23',...",None,ARS,296,1739,...,59999.0,MLA1002,1824.0,MLA-TELEVISIONS,MLA15998081,"[good_quality_picture, good_quality_thumbnail,...",True,True,17,{'id': 35713319}
17,MLA885495289,MLA,Smart Tv Samsung 43 4k Uhd 43tu7000,"{'id': 608846165, 'permalink': 'http://perfil....",63999.00,"{'id': 'MLA885495289', 'prices': [{'id': '108'...",None,ARS,250,500,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,MLA16234225,"[good_quality_thumbnail, loyalty_discount_elig...",NaN,True,18,{'id': 35713319}
18,MLA921845745,MLA,Smart Tv Noblex Dk50x6500 Led 4k 50,"{'id': 256324891, 'permalink': 'http://perfil....",64499.00,"{'id': 'MLA921845745', 'prices': [{'id': '16',...",None,ARS,100,150,...,81999.0,MLA1002,1192.0,MLA-TELEVISIONS,None,"[ahora-12, catalog_product_candidate, extended...",NaN,True,19,{'id': 35713319}
19,MLA895877679,MLA,Tv Box Noga Pc Ultra Estándar 4k 8gb Negro C...,"{'id': 8963146, 'permalink': 'http://perfil.me...",6499.00,"{'id': 'MLA895877679', 'prices': [{'id': '37',...",None,ARS,2,623,...,NaN,MLA352001,NaN,MLA-STREAMING_MEDIA_DEVICES,MLA16140083,"[brand_verified, good_quality_picture, good_qu...",True,True,20,NaN
20,MLA840417930,MLA,Smart Tv 50 Pulgadas Ultra Hd 4k - Tedge,"{'id': 417972986, 'permalink': 'http://perfil....",51999.00,"{'id': 'MLA840417930', 'prices': [{'id': '8', ...",None,ARS,250,500,...,59999.0,MLA1002,1824.0,MLA-TELEVISIONS,MLA15998081,"[good_quality_thumbnail, loyalty_discount_elig...",NaN,True,21,{'id': 33678187}
21,MLA885030508,MLA,Televisor Samsung Tv Smart 50 4k Crystal Uhd U...,"{'id': 452287402, 'permalink': 'http://perfil....",75999.00,"{'id': 'MLA885030508', 'prices': [{'id': '46',...",None,ARS,1,50,...,82999.0,MLA1002,NaN,MLA-TELEVISIONS,MLA16233171,"[ahora-12, extended_warranty_eligible, good_qu...",NaN,True,22,{'id': 35713319}
22,MLA923246389,MLA,Smart Tv 55 Tcl Uhd 4k Android Chromecast Buil...,"{'id': 39144101, 'permalink': 'http://perfil.m...",88999.00,"{'id': 'MLA923246389', 'prices': [{'id': '37',...",None,ARS,1,100,...,136899.0,MLA1002,NaN,MLA-TELEVISIONS,None,"[catalog_product_candidate, extended_warranty_...",NaN,False,23,NaN
23,MLA918036110,MLA,Smart Tv Led 4k Uhd 55 Hisense 55a64gsv,"{'id': 139060460, 'permalink': 'http://perfil....",87999.00,"{'id': 'MLA918036110', 'prices': [{'id': '17',...",None,ARS,1,100,...,NaN,MLA1002,56.0,MLA-TELEVISIONS,None,"[ahora-12, catalog_product_candidate, extended...",NaN,True,24,{'id': 35713319}
24,MLA919747481,MLA,Smart Tv LG 43 43un7310 4k Uhd,"{'id': 211081461, 'permalink': 'http://perfil....",56999.05,"{'id': 'MLA919747481', 'prices': [{'id': '55',...",None,ARS,1,50,...,59999.0,MLA1002,NaN,MLA-TELEVISIONS,None,"[good_quality_thumbnail, catalog_product_candi...",NaN,True,25,NaN
25,MLA921752285,MLA,Smart Tv Samsung Series 7 Un55tu7000gczb Led 4...,"{'id': 143125485, 'permalink': 'http://perfil....",90999.00,"{'id': 'MLA921752285', 'prices': [{'id': '16',...",None,ARS,48,57,...,NaN,MLA1002,229.0,MLA-TELEVISIONS,MLA17546402,"[good_quality_picture, good_quality_thumbnail,...",True,True,26,{'id': 35713319}
26,MLA885005578,MLA,Samsung Televisor Smart 50 4k Crystal Uhd U...,"{'id': 172753273, 'permalink': 'http://perfil....",75999.00,"{'id': 'MLA885005578', 'prices': [{'id': '39',...",None,ARS,50,50,...,82999.0,MLA1002,NaN,MLA-TELEVISIONS,MLA16233171,"[ahora-12, brand_verified, extended_warranty_e...",NaN,True,27,{'id': 35713319}
27,MLA917192814,MLA,Smart Tv Rca 55 Android 4k Uhd Hdmi Usb And55f...,"{'id': 159243673, 'permalink': 'http://perfil....",64997.00,"{'id': 'MLA917192814', 'prices': [{'id': '18',...",None,ARS,1,25,...,NaN,MLA1002,NaN,MLA-TELEVISIONS,None,"[catalog_product_candidate, extended_warranty_...",NaN,True,28,NaN
28,MLA915986933,MLA,Android Tv Noblex 50 Pulgadas 4k Uhd Dm50x7550,"{'id': 15604260, 'permalink': 'http://perfil.m...",62599.00,"{'id': 'MLA915986933', 'prices': [{'id': '7', ...",None,ARS,1,5,...,NaN,MLA1002,1256.0,MLA-TELEVISIONS,MLA17546860,"[good_quality_thumbnail, catalog_product_candi...",NaN,True,29,NaN
29,MLA912582257,MLA,Amazon Fire Tv Stick 4k Cr Voz 4k 8gb Negro ...,"{'id': 51553752, 'permalink': 'http://perfil.m...",10998.00,"{'id': 'MLA912582257', 'prices': [{'id': '48',...",None,ARS,50,150,...,NaN,MLA352001,NaN,MLA-STREAMING_MEDIA_DEVICES,MLA14141340,"[good_quality_picture, good_quality_thumbnail,...",NaN,False,30,NaN
30,MLA886191424,MLA,Smart Tv Admiral Ad43e20 Led Full Hd 43,"{'id': 143125485, 'permalink': 'http://perfil....",42499.00,"{'id': 'MLA886191424', 'prices': [{'id': '29',...",None,ARS,24,200,...,NaN,MLA1002,229.0,MLA-TELEVISIONS,MLA16119781,"[good_quality_picture, brand_verified, extende...",True,True,31,NaN
31,MLA916313067,MLA,Smart Tv Samsung Series 7 Un65tu7000gczb Led 4...,"{'id': 82521850, 'permalink': 'http://perfil.m...",129999.00,"{'id': 'MLA916313067', 'prices': [{'id': '2', ...",None,ARS,12,8,...,NaN,MLA1002,NaN,MLA-TELEVISIONS,MLA17516568,"[loyalty_discount_eligible, extended_warranty_...",True,True,32,NaN
32,MLA869878429,MLA,Smart Tv Philips 5100 Series 49pfg5102/77 Led ...,"{'id': 183212103, 'permalink': 'http://perfil....",60998.78,"{'id': 'MLA869878429', 'prices': [{'id': '6', ...",None,ARS,56,18,...,NaN,MLA1002,2227.0,MLA-TELEVISIONS,MLA8060008,"[extended_warranty_eligible, good_quality_pict...",True,True,33,NaN
33,MLA918597543,MLA,Smart Tv LG 43 Ultra Hd 43un7310 4k Hdr Activ...,"{'id': 131846678, 'permalink': 'http://perfil....",64999.00,"{'id': 'MLA918597543', 'prices': [{'id': '3', ...",None,ARS,1,25,...,NaN,MLA1002,NaN,MLA-TELEVISIONS,None,"[catalog_product_candidate, extended_warranty_...",NaN,True,34,NaN
34,MLA924363879,MLA,Android Tv Box Convertidor De Smart Tv 4k Con ...,"{'id': 296728610, 'permalink': 'http://perfil....",5259.00,"{'id': 'MLA924363879', 'prices': [{'id': '2', ...",None,ARS,1,250,...,8939.0,MLA352001,NaN,MLA-STREAMING_MEDIA_DEVICES,None,"[catalog_product_candidate, good_quality_pictu...",NaN,False,35,NaN
35,MLA798312416,MLA,Control Remoto Smart Tv Para Samsung Curvo 4k ...,"{'id': 15451254, 'permalink': 'http://perfil.m...",899.00,"{'id': 'MLA798312416', 'prices': [{'id': '14',...",None,ARS,100,500,...,NaN,MLA49334,NaN,MLA-TV_REMOTE_CONTROLS,None,"[good_quality_picture, good_quality_thumbnail,...",NaN,True,36,NaN
36,MLA928442798,MLA,Smart Tv Philco Pld50us21api Led 4k Uhd 50,"{'id': 256324891, 'permalink': 'http://perfil....",63999.00,"{'id': 'MLA928442798', 'prices': [{'id': '1', ...",None,ARS,50,5,...,77999.0,MLA1002,1372.0,MLA-TELEVISIONS,MLA18360021,"[catalog_product_candidate, extended_warranty_...",NaN,True,37,{'id': 35713319}
37,MLA929136213,MLA,Televisor Smart Hitachi 50 4k Ultra Hd Androi...,"{'id': 82521850, 'permalink': 'http://perfil.m...",69999.00,"{'id': 'MLA929136213', 'prices': [{'id': '6', ...",None,ARS,1,5,...,NaN,MLA1002,NaN,MLA-TELEVISIONS,None,"[extended_warranty_eligible, good_quality_pict...",NaN,True,38,NaN
38,MLA920190973,MLA,Smart Tv 4k Uhd Samsung 65 Un65tu7000g,"{'id': 143125485, 'permalink': 'http://perfil....",129999.00,"{'id': 'MLA920190973', 'prices': [{'id': '8', ...",None,ARS,50,100,...,NaN,MLA1002,229.0,MLA-TELEVISIONS,None,"[ahora-12, catalog_product_candidate, dragged_...",NaN,True,39,{'id': 35713319}
39,MLA918615346,MLA,Smart Tv 4k Uhd 50 Bgh B5021uh6a,"{'id': 139060460, 'permalink': 'http://perfil....",68999.00,"{'id': 'MLA918615346', 'prices': [{'id': '22',...",None,ARS,1,5,...,NaN,MLA1002,56.0,MLA-TELEVISIONS,None,"[catalog_product_candidate, extended_warranty_...",NaN,True,40,{'id': 35713319}
40,MLA925125866,MLA,Smart Tv Noblex Dm50x7550 Led 4k 50'' Android ...,"{'id': 256324891, 'permalink': 'http://perfil....",67699.00,"{'id': 'MLA925125866', 'prices': [{'id': '20',...",None,ARS,150,25,...,82999.0,MLA1002,1192.0,MLA-TELEVISIONS,MLA17546860,"[ahora-12, catalog_product_candidate, extended...",NaN,True,41,{'id': 35713319}
41,MLA932711232,MLA,Smart Tv Rca X50andtv 4k 50 100v/240v,"{'id': 452608891, 'permalink': 'http://perfil....",69999.00,"{'id': 'MLA932711232', 'prices': [{'id': '2', ...",None,ARS,70,1,...,NaN,MLA1002,NaN,MLA-TELEVISIONS,MLA15192832,"[good_quality_picture, ahora-12, extended_warr...",True,True,42,{'id': 35713319}
42,MLA922413826,MLA,Smart Tv Philco 50 Pld50us21a 4k,"{'id': 256263226, 'permalink': 'http://perfil....",54999.00,"{'id': 'MLA922413826', 'prices': [{'id': '16',...",None,ARS,1,5,...,NaN,MLA1002,NaN,MLA-TELEVISIONS,None,"[catalog_product_candidate, extended_warranty_...",NaN,True,43,NaN
43,MLA880314704,MLA,Cable Hdmi 2.0 Premium. 4k/4k Ultra 3d/lcd/tv/...,"{'id': 51553752, 'permalink': 'http://perfil.m...",1989.00,"{'id': 'MLA880314704', 'prices': [{'id': '194'...",None,ARS,1,200,...,NaN,MLA431802,NaN,MLA-AUDIO_AND_VIDEO_CABLES_AND_ADAPTERS,None,"[brand_verified, good_quality_picture, good_qu...",NaN,True,44,NaN
44,MLA854230305,MLA,Xiaomi Mi Tv Box S 2gb Ram Tv 4k 8gb Control R...,"{'id': 85719635, 'permalink': 'http://perfil.m...",14199.00,"{'id': 'MLA854230305', 'prices': [{'id': '23',...",None,ARS,50,500,...,NaN,MLA352001,NaN,MLA-STREAMING_MEDIA_DEVICES,MLA13877782,"[good_quality_picture, good_quality_thumbnail,...",NaN,False,45,NaN
45,MLA898754035,MLA,Smart Tv Samsung 50 Un50tu7000 Crystal Uhd 4k ...,"{'id': 288753228, 'permalink': 'http://perfil....",69999.00,"{'id': 'MLA898754035', 'prices': [{'id': '41',...",None,ARS,1,25,...,NaN,MLA1002,NaN,MLA-TELEVISIONS,MLA16233171,"[brand_verified, extended_warranty_eligible, g...",NaN,True,46,NaN
46,MLA920398277,MLA,Smart Tv Samsung Series 6 Qn55q60tagczb Qled 4...,"{'id': 143125485, 'permalink': 'http://perfil....",110999.00,"{'id': 'MLA920398277', 'prices': [{'id': '16',...",None,ARS,93,146,...,NaN,MLA1002,229.0,MLA-TELEVISIONS,MLA17325852,"[ahora-12, extended_warranty_eligible, good_qu...",True,True,47,{'id': 35713319}
47,MLA930504775,MLA,Smart Tv Tcl L55p8m Led 4k 55 100v/240v,"{'id': 516618961, 'permalink': 'http://perfil....",84999.00,"{'id': 'MLA930504775', 'prices': [{'id': '1', ...",None,ARS,1,0,...,NaN,MLA1002,NaN,MLA-TELEVISIONS,MLA15284464,"[extended_warranty_eligible, good_quality_pict...",True,True,48,{'id': 33678187}
48,MLA898580823,MLA,Smart Tv Philips 6600 Series 55pug6654/78 Led ...,"{'id': 140884116, 'permalink': 'http://perfil....",85990.00,"{'id': 'MLA898580823', 'prices': [{'id': '17',...",None,ARS,2,15,...,NaN,MLA1002,NaN,MLA-TELEVISIONS,MLA16009125,"[good_quality_picture, brand_verified, extende...",True,True,49,NaN
49,MLA916897381,MLA,Smart Tv 4k Uhd 50 Hisense 50a64gsv,"{'id': 139060460, 'permalink': 'http://perfil....",75999.00,"{'id': 'MLA916897381', 'prices': [{'id': '5', ...",None,ARS,1,25,...,NaN,MLA1002,56.0,MLA-TELEVISIONS,MLA17849010,"[catalog_product_candidate, extended_warranty_...",NaN,True,50,{'id': 35713319}

In [11]:
# conoco las columnas que posee
df1.columns

Index(['id', 'site_id', 'title', 'seller', 'price', 'prices', 'sale_price',
       'currency_id', 'available_quantity', 'sold_quantity', 'buying_mode',
       'listing_type_id', 'stop_time', 'condition', 'permalink', 'thumbnail',
       'thumbnail_id', 'accepts_mercadopago', 'installments', 'address',
       'shipping', 'seller_address', 'attributes', 'original_price',
       'category_id', 'official_store_id', 'domain_id', 'catalog_product_id',
       'tags', 'catalog_listing', 'use_thumbnail_id', 'order_backend',
       'differential_pricing'],
      dtype='object')

In [12]:
# suando incluso el código de ID_USER, no se obteiene el resultado esperado
url = 'https://api.mercadolibre.com/users/$8687674606437847/MLA/search?search_type=scan'
result3 = requests.get(url)
data3 = result3.json()
data3

{'error': 'resource not found',
 'message': 'Si quieres conocer los recursos de la API que se encuentran disponibles visita el Sitio de Desarrolladores de MercadoLibre (http://developers.mercadolibre.com)'}

In [13]:
#App ID: 8687674606437847
#Client Secret XAFQvQDZnbhEerX2C3rpVMwIhDfbj4xI
#code https://www.mercadolibre.com.ar/?code=TG-611091d89015f30008f83ec6-119049442

In [22]:
# voy a definir una función para realizar las consultas, y tomar el resultado y entregarlo como un dataset
def call_data(vector = [0,50], url = 'https://api.mercadolibre.com/sites/MLA/search?q=tv%204k' ):
    '''Funcion para llamar a la API de mercado libre con un resultado especifico, haciendo consultas de 50 en 50
    y guardandolas en un data frame'''
    t = len(vector)
    lista1 = [] #instancio una lista vacia
    for t in list(range( 0,len(vector),1 ) ):
        url_act = url + '&offset=' + str( vector[t] )
        #print(url_act) #para comprobar la direccion
        result = requests.get(url_act)
        if result2.status_code == 200:
            #lista2 = result.json()['results']
            lista1.extend( result.json()['results'] )
        else:
            print('hubo un error')
            df_rta = pd.DataFrame(lista1)  
        print(t, end="\r")
        sleep(15) #cada 15 segundos
        
    df_rta = pd.DataFrame(lista1)    
    return df_rta

In [23]:
df_tv = call_data(
    vector = list( range(0, 1001, 50) ),
    url = 'https://api.mercadolibre.com/sites/MLA/search?q=tv%204k')

In [24]:
#veamos las dimensiones del data set
df_tv.shape

(1040, 33)

In [25]:
df_tv.to_csv('./data/data_tv_4k_1krows.csv', index= False)

In [26]:
df_tv.head()

,id,site_id,title,seller,price,prices,sale_price,currency_id,available_quantity,sold_quantity,...,original_price,category_id,official_store_id,domain_id,catalog_product_id,tags,catalog_listing,use_thumbnail_id,order_backend,differential_pricing
0,MLA898264823,MLA,Smart Tv Tcl 50p8m Led 4k 50,"{'id': 185702920, 'permalink': 'http://perfil....",54999.0,"{'id': 'MLA898264823', 'prices': [{'id': '16',...",None,ARS,1,121,...,NaN,MLA1002,NaN,MLA-TELEVISIONS,MLA15186500,"[loyalty_discount_eligible, brand_verified, ex...",True,True,1,NaN
1,MLA905996538,MLA,Smart Tv Hyundai 50 4k Uhd Google Android,"{'id': 608846165, 'permalink': 'http://perfil....",49999.0,"{'id': 'MLA905996538', 'prices': [{'id': '139'...",None,ARS,1,250,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,MLA17849007,"[extended_warranty_eligible, good_quality_pict...",NaN,True,2,NaN
2,MLA898844422,MLA,Smart Tv Samsung Series 7 Un50tu7000gczb Led 4...,"{'id': 608846165, 'permalink': 'http://perfil....",75999.0,"{'id': 'MLA898844422', 'prices': [{'id': '152'...",None,ARS,273,7388,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,MLA16233171,"[ahora-12, brand_verified, extended_warranty_e...",True,True,3,{'id': 35713319}
3,MLA933497704,MLA,Amazon Fire Tv Stick 4k De Voz 4k 8gb Negro...,"{'id': 76104882, 'permalink': 'http://perfil.m...",10888.0,"{'id': 'MLA933497704', 'prices': [{'id': '1', ...",None,ARS,3,2,...,NaN,MLA352001,NaN,MLA-STREAMING_MEDIA_DEVICES,MLA14141341,"[good_quality_picture, good_quality_thumbnail,...",True,True,4,NaN
4,MLA926081002,MLA,Smart Tv Bgh 50 Uhd Android,"{'id': 608846165, 'permalink': 'http://perfil....",66999.0,"{'id': 'MLA926081002', 'prices': [{'id': '37',...",None,ARS,250,250,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,None,"[ahora-12, catalog_product_candidate, extended...",NaN,True,5,{'id': 35713319}

In [28]:
df_cel = call_data(
    vector = list( range(0, 1001, 50) ),
    url = 'https://api.mercadolibre.com/sites/MLA/search?q=celular%20')

#df_cel.to_excel('./data/data_celular_1krows.xlsx', index= False)
df_cel.to_csv('./data/data_celular_1krows.csv', index= False)

In [29]:
df_tab = call_data(
    vector = list( range(0, 1001, 50) ),
    url = 'https://api.mercadolibre.com/sites/MLA/search?q=tablet%20')

df_tab.to_csv('./data/data_tablet_1krows.csv', index= False)

In [30]:
df_notebook = call_data(
    vector = list( range(0, 1001, 50) ),
    url = 'https://api.mercadolibre.com/sites/MLA/search?q=notebook%20')

df_notebook.to_csv('./data/data_notebook_1krows.csv', index= False)

In [ ]:
## solo en el caso de querer leer los archivos desde csv
#df_tv = pd.read_excel('./data/data_tv_4k_1krows.xlsx')
#df_cel = pd.read_excel('./data/data_celular_1krows.xlsx')
#df_notebook = pd.read_excel('./data/data_notebook_1krows.xlsx')
#df_tab = pd.read_excel('./data/data_tablet_1krows.xlsx')

#df_tv = pd.read_csv('./data/data_tv_4k_1krows.csv')
#df_cel = pd.read_csv('./data/data_celular_1krows.csv')
#df_notebook = pd.read_csv('./data/data_notebook_1krows.csv')
#df_tab = pd.read_csv('./data/data_tablet_1krows.csv')

 Concatenamos los dataframes obtenidos hasta el momento como uno solo, concatenando uno detras del otro.

In [54]:
# concatenamos los datasets obtenidos hasta el momento
df = pd.concat([df_tv, df_cel, df_tab, df_notebook], axis = 0).reset_index()

In [55]:
df

,index,id,site_id,title,seller,price,prices,sale_price,currency_id,available_quantity,...,original_price,category_id,official_store_id,domain_id,catalog_product_id,tags,catalog_listing,use_thumbnail_id,order_backend,differential_pricing
0,0,MLA898264823,MLA,Smart Tv Tcl 50p8m Led 4k 50,"{'id': 185702920, 'permalink': 'http://perfil....",54999.0,"{'id': 'MLA898264823', 'prices': [{'id': '16',...",None,ARS,1,...,NaN,MLA1002,NaN,MLA-TELEVISIONS,MLA15186500,"[loyalty_discount_eligible, brand_verified, ex...",True,True,1,NaN
1,1,MLA905996538,MLA,Smart Tv Hyundai 50 4k Uhd Google Android,"{'id': 608846165, 'permalink': 'http://perfil....",49999.0,"{'id': 'MLA905996538', 'prices': [{'id': '139'...",None,ARS,1,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,MLA17849007,"[extended_warranty_eligible, good_quality_pict...",NaN,True,2,NaN
2,2,MLA898844422,MLA,Smart Tv Samsung Series 7 Un50tu7000gczb Led 4...,"{'id': 608846165, 'permalink': 'http://perfil....",75999.0,"{'id': 'MLA898844422', 'prices': [{'id': '152'...",None,ARS,273,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,MLA16233171,"[ahora-12, brand_verified, extended_warranty_e...",True,True,3,{'id': 35713319}
3,3,MLA933497704,MLA,Amazon Fire Tv Stick 4k De Voz 4k 8gb Negro...,"{'id': 76104882, 'permalink': 'http://perfil.m...",10888.0,"{'id': 'MLA933497704', 'prices': [{'id': '1', ...",None,ARS,3,...,NaN,MLA352001,NaN,MLA-STREAMING_MEDIA_DEVICES,MLA14141341,"[good_quality_picture, good_quality_thumbnail,...",True,True,4,NaN
4,4,MLA926081002,MLA,Smart Tv Bgh 50 Uhd Android,"{'id': 608846165, 'permalink': 'http://perfil....",66999.0,"{'id': 'MLA926081002', 'prices': [{'id': '37',...",None,ARS,250,...,NaN,MLA1002,1938.0,MLA-TELEVISIONS,None,"[ahora-12, catalog_product_candidate, extended...",NaN,True,5,{'id': 35713319}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4155,1045,MLA871820328,MLA,Notebook Lenovo V15 Core I5 10ma Gen 1tb + Ssd...,"{'id': 131648529, 'permalink': 'http://perfil....",150985.0,"{'id': 'MLA871820328', 'prices': [{'id': '7', ...",None,ARS,1,...,NaN,MLA1652,NaN,MLA-NOTEBOOKS,None,"[brand_verified, extended_warranty_eligible, g...",NaN,False,46,{'id': 35713287}
4156,1046,MLA900496858,MLA,"Notebook Hp 2021 Elite I7 10ma 40gb 17,3 2tb S...","{'id': 141336342, 'permalink': 'http://perfil....",398999.0,"{'id': 'MLA900496858', 'prices': [{'id': '6', ...",None,ARS,5000,...,NaN,MLA1652,NaN,MLA-NOTEBOOKS,None,"[loyalty_discount_eligible, brand_verified, go...",NaN,False,47,{'id': 35713287}
4157,1047,MLA895870357,MLA,Notebook Bangho L5 Intel I7-10510u 8gb Ssd240 ...,"{'id': 192106606, 'permalink': 'http://perfil....",159000.0,"{'id': 'MLA895870357', 'prices': [{'id': '5', ...",None,ARS,1,...,NaN,MLA1652,NaN,MLA-NOTEBOOKS,MLA17328361,"[good_quality_picture, good_quality_thumbnail,...",NaN,False,48,{'id': 35713231}
4158,1048,MLA866181995,MLA,Notebook Lenovo Ideapad 3 Intel I3 10th 8gb Ss...,"{'id': 82274172, 'permalink': 'http://perfil.m...",83999.0,"{'id': 'MLA866181995', 'prices': [{'id': '17',...",None,ARS,1,...,NaN,MLA1652,NaN,MLA-NOTEBOOKS,MLA16053932,"[good_quality_thumbnail, loyalty_discount_elig...",NaN,False,49,NaN
4159,1049,MLA905530596,MLA,Notebook Hp 250 G7 I3 10° Gen 4gb Ram 1tb Hdd ...,"{'id': 447806893, 'permalink': 'http://perfil....",84999.0,"{'id': 'MLA905530596', 'prices': [{'id': '16',...",None,ARS,1,...,NaN,MLA1652,317.0,MLA-NOTEBOOKS,MLA15248647,"[brand_verified, extended_warranty_eligible, g...",NaN,False,50,NaN

In [56]:
df.columns

Index(['index', 'id', 'site_id', 'title', 'seller', 'price', 'prices',
       'sale_price', 'currency_id', 'available_quantity', 'sold_quantity',
       'buying_mode', 'listing_type_id', 'stop_time', 'condition', 'permalink',
       'thumbnail', 'thumbnail_id', 'accepts_mercadopago', 'installments',
       'address', 'shipping', 'seller_address', 'attributes', 'original_price',
       'category_id', 'official_store_id', 'domain_id', 'catalog_product_id',
       'tags', 'catalog_listing', 'use_thumbnail_id', 'order_backend',
       'differential_pricing'],
      dtype='object')

Al provenir transformar una lista de diccionario, que originalmente venía de una consulta tipo json, me encuentro con que algunas columnas contienen su información en formato dic. Vamos a explorarla, y de paso, ver que información se puede obtener sin tener que aplicar text mining en exta instancia

In [57]:
# quiero explorar el contenido del diccionario que contienen algunas columnas
pd.DataFrame(list(df.seller))

#alternativas por si no funciona lo anterior
#df['seller'].apply(pd.Series)
#pd.json_normalize(df['seller'].apply(pd.Series))
#df['seller']
#pd.DataFrame( df['seller'].apply(pd.Series) )

,id,permalink,registration_date,car_dealer,real_estate_agency,tags,eshop,seller_reputation
0,185702920,http://perfil.mercadolibre.com.ar/ITECOM+DIGITAL,2015-06-16T14:24:23.000-04:00,False,False,"[normal, user_info_verified, credits_profile, ...","{'nick_name': 'ITECOM DIGITAL', 'eshop_rubro':...","{'transactions': {'total': 74089, 'canceled': ..."
1,608846165,http://perfil.mercadolibre.com.ar/MERCADOLIBRE...,2020-07-13T13:21:30.000-04:00,False,False,"[brand, user_info_verified, large_seller, cred...",NaN,"{'transactions': {'total': 613410, 'canceled':..."
2,608846165,http://perfil.mercadolibre.com.ar/MERCADOLIBRE...,2020-07-13T13:21:30.000-04:00,False,False,"[brand, user_info_verified, large_seller, cred...",NaN,"{'transactions': {'total': 613410, 'canceled':..."
3,76104882,http://perfil.mercadolibre.com.ar/COMPUCOM2004,2004-10-04T14:40:10.000-04:00,False,False,"[normal, user_info_verified, eshop, credits_pr...","{'nick_name': 'COMPUCOM2004', 'eshop_rubro': N...","{'transactions': {'total': 15765, 'canceled': ..."
4,608846165,http://perfil.mercadolibre.com.ar/MERCADOLIBRE...,2020-07-13T13:21:30.000-04:00,False,False,"[brand, user_info_verified, large_seller, cred...",NaN,"{'transactions': {'total': 613410, 'canceled':..."
...,...,...,...,...,...,...,...,...
4155,131648529,http://perfil.mercadolibre.com.ar/PCCENTERCOMP...,2013-01-10T09:50:15.000-04:00,False,False,"[normal, user_info_verified, eshop, medium_sel...","{'nick_name': 'PCCENTERCOMPUTERS', 'eshop_rubr...","{'transactions': {'total': 24796, 'canceled': ..."
4156,141336342,http://perfil.mercadolibre.com.ar/TODOTEKNO+AR...,2013-07-02T19:42:27.000-04:00,False,False,"[normal, user_info_verified, credits_profile, ...",NaN,"{'transactions': {'total': 1229, 'canceled': 5..."
4157,192106606,http://perfil.mercadolibre.com.ar/GN+POINT,2015-09-09T15:17:17.000-04:00,False,False,"[normal, user_info_verified, eshop, mshops, cr...","{'nick_name': 'GN POINT', 'eshop_rubro': None,...","{'transactions': {'total': 776, 'canceled': 29..."
4158,82274172,http://perfil.mercadolibre.com.ar/BH+COMPUTACION,2005-07-04T10:41:06.000-04:00,False,False,"[normal, user_info_verified, credits_priority_...","{'nick_name': 'BH COMPUTACION', 'eshop_rubro':...","{'transactions': {'total': 27138, 'canceled': ..."
4159,447806893,http://perfil.mercadolibre.com.ar/DTECHSA,2019-06-28T14:37:28.000-04:00,False,False,"[brand, user_info_verified, large_seller, mess...",NaN,"{'transactions': {'total': 9319, 'canceled': 4..."

In [58]:
def extrac_new_DF_from_colum(df_2work, column_2work, option =1):
    '''Debido a la naturaleza de extraccion de datos de las APIs para evitar colapsar el servicio, en oportunidades
    hay diccionarios en alguna de las columnas al tratarse de archivos tipo json()
    con esta funcion indicamos el DF, y la columna de interes para devolver un nuevo dataframe
    df_2work => DataFrame de pandas
    colum_2work => 'string
    option = 1 o 2 devuelve un dataframe con y sin el atributo column_2work en el dataframe'''
    if option == 1:
        return pd.DataFrame( list(df_2work[column_2work]) ) #para probar
    elif option == 2:
        # alternativa para expandir el dataframe en aquellas columnas que se duplican, me ahorro de pasos
        return pd.concat([df_2work.drop([column_2work], axis=1), df_2work[column_2work].apply(pd.Series)], axis=1)

In [59]:
df = extrac_new_DF_from_colum(df, 'seller', 2)

In [60]:
# exploro la cantidad de nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4160 entries, 0 to 4159
Data columns (total 41 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4160 non-null   int64
 1   id                    4160 non-null   object
 2   site_id               4160 non-null   object
 3   title                 4160 non-null   object
 4   price                 4160 non-null   float64
 5   prices                4160 non-null   object
 6   sale_price            0 non-null      object
 7   currency_id           4160 non-null   object
 8   available_quantity    4160 non-null   int64
 9   sold_quantity         4160 non-null   int64
 10  buying_mode           4160 non-null   object
 11  listing_type_id       4160 non-null   object
 12  stop_time             4160 non-null   object
 13  condition             4160 non-null   object
 14  permalink             4160 non-null   object
 15  thumbnail             4160 non-null   object
 16  thumbnail_id          4160 non-null   object
 17  accepts_mercadopago   4160 non-null   bool
 18  installments          4152 non-null   object
 19  address               4160 non-null   object
 20  shipping              4160 non-null   object
 21  seller_address        4160 non-null   object
 22  attributes            4160 non-null   object
 23  original_price        709 non-null    float64
 24  category_id           4160 non-null   object
 25  official_store_id     621 non-null    float64
 26  domain_id             4160 non-null   object
 27  catalog_product_id    3011 non-null   object
 28  tags                  4160 non-null   object
 29  catalog_listing       446 non-null    object
 30  use_thumbnail_id      4160 non-null   bool
 31  order_backend         4160 non-null   int64
 32  differential_pricing  1332 non-null   object
 33  id                    4160 non-null   int64
 34  permalink             4160 non-null   object
 35  registration_date     4160 non-null   object
 36  car_dealer            4160 non-null   bool
 37  real_estate_agency    4160 non-null   bool
 38  tags                  4160 non-null   object
 39  eshop                 2389 non-null   object
 40  seller_reputation     4160 non-null   object
dtypes: bool(4), float64(3), int64(5), object(29)
memory usage: 1.2+ MB

In [61]:
df2 = extrac_new_DF_from_colum(df, 'seller_reputation', 1)

In [62]:
df2

,transactions,power_seller_status,metrics,level_id,protection_end_date,real_level
0,"{'total': 74089, 'canceled': 4248, 'period': '...",platinum,"{'claims': {'rate': 0.0148, 'value': 185, 'per...",5_green,NaN,NaN
1,"{'total': 613410, 'canceled': 28335, 'period':...",platinum,"{'claims': {'rate': 0.0084, 'value': 1109, 'pe...",5_green,NaN,NaN
2,"{'total': 613410, 'canceled': 28335, 'period':...",platinum,"{'claims': {'rate': 0.0084, 'value': 1109, 'pe...",5_green,NaN,NaN
3,"{'total': 15765, 'canceled': 605, 'period': 'h...",platinum,"{'claims': {'rate': 0, 'value': 1, 'period': '...",5_green,NaN,NaN
4,"{'total': 613410, 'canceled': 28335, 'period':...",platinum,"{'claims': {'rate': 0.0084, 'value': 1109, 'pe...",5_green,NaN,NaN
...,...,...,...,...,...,...
4155,"{'total': 24796, 'canceled': 1047, 'period': '...",platinum,"{'claims': {'rate': 0.0153, 'value': 49, 'peri...",5_green,NaN,NaN
4156,"{'total': 1229, 'canceled': 51, 'period': 'his...",gold,"{'claims': {'rate': 0, 'value': 1, 'period': '...",5_green,NaN,NaN
4157,"{'total': 776, 'canceled': 29, 'period': 'hist...",gold,"{'claims': {'rate': 0, 'value': 0, 'period': '...",5_green,NaN,NaN
4158,"{'total': 27138, 'canceled': 995, 'period': 'h...",platinum,"{'claims': {'rate': 0.0088, 'value': 30, 'peri...",5_green,NaN,NaN
4159,"{'total': 9319, 'canceled': 466, 'period': 'hi...",platinum,"{'claims': {'rate': 0.0142, 'value': 20, 'peri...",5_green,NaN,NaN

In [65]:
d2 = extrac_new_DF_from_colum(df2, 'transactions', 2)

In [67]:
d2.head()

,power_seller_status,metrics,level_id,protection_end_date,real_level,total,canceled,period,ratings,completed
0,platinum,"{'claims': {'rate': 0.0148, 'value': 185, 'per...",5_green,NaN,NaN,74089,4248,historic,"{'negative': 0.02, 'positive': 0.96, 'neutral'...",69841
1,platinum,"{'claims': {'rate': 0.0084, 'value': 1109, 'pe...",5_green,NaN,NaN,613410,28335,historic,"{'negative': 0.06, 'positive': 0.93, 'neutral'...",585075
2,platinum,"{'claims': {'rate': 0.0084, 'value': 1109, 'pe...",5_green,NaN,NaN,613410,28335,historic,"{'negative': 0.06, 'positive': 0.93, 'neutral'...",585075
3,platinum,"{'claims': {'rate': 0, 'value': 1, 'period': '...",5_green,NaN,NaN,15765,605,historic,"{'negative': 0, 'positive': 0.99, 'neutral': 0...",15160
4,platinum,"{'claims': {'rate': 0.0084, 'value': 1109, 'pe...",5_green,NaN,NaN,613410,28335,historic,"{'negative': 0.06, 'positive': 0.93, 'neutral'...",585075

In [70]:
df2 = extrac_new_DF_from_colum(d2, 'ratings', 2)

In [71]:
df2

,power_seller_status,metrics,level_id,protection_end_date,real_level,total,canceled,period,completed,negative,positive,neutral
0,platinum,"{'claims': {'rate': 0.0148, 'value': 185, 'per...",5_green,NaN,NaN,74089,4248,historic,69841,0.02,0.96,0.02
1,platinum,"{'claims': {'rate': 0.0084, 'value': 1109, 'pe...",5_green,NaN,NaN,613410,28335,historic,585075,0.06,0.93,0.01
2,platinum,"{'claims': {'rate': 0.0084, 'value': 1109, 'pe...",5_green,NaN,NaN,613410,28335,historic,585075,0.06,0.93,0.01
3,platinum,"{'claims': {'rate': 0, 'value': 1, 'period': '...",5_green,NaN,NaN,15765,605,historic,15160,0.00,0.99,0.01
4,platinum,"{'claims': {'rate': 0.0084, 'value': 1109, 'pe...",5_green,NaN,NaN,613410,28335,historic,585075,0.06,0.93,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...
4155,platinum,"{'claims': {'rate': 0.0153, 'value': 49, 'peri...",5_green,NaN,NaN,24796,1047,historic,23749,0.01,0.97,0.02
4156,gold,"{'claims': {'rate': 0, 'value': 1, 'period': '...",5_green,NaN,NaN,1229,51,historic,1178,0.00,0.99,0.01
4157,gold,"{'claims': {'rate': 0, 'value': 0, 'period': '...",5_green,NaN,NaN,776,29,historic,747,0.03,0.97,0.00
4158,platinum,"{'claims': {'rate': 0.0088, 'value': 30, 'peri...",5_green,NaN,NaN,27138,995,historic,26143,0.01,0.97,0.02
4159,platinum,"{'claims': {'rate': 0.0142, 'value': 20, 'peri...",5_green,NaN,NaN,9319,466,historic,8853,0.03,0.96,0.01

In [52]:
(df.original_price.isnull()).value_counts()

AttributeError: 'DataFrame' object has no attribute 'original_price'

In [49]:
# cuantos productos generales tienen descuento, y que % representa del total

print("La cantidad de productos con descuento es {}, y representa el {} %".format(
        (df.original_price.isnull()).value_counts()[0] ,
        ((df.original_price.isnull()).value_counts()[0] / len(df))
        )
     )

La cantidad de productos con descuento es 709, y representa el 0.1704326923076923 %

In [47]:
# tipos de dominios, para identificar si la busqueda me devolvio efectivamente los cambos de las busquedas
df.domain_id.value_counts()

MLA-NOTEBOOKS                                 1050
MLA-TABLETS                                   1040
MLA-CELLPHONES                                1030
MLA-TELEVISIONS                                827
MLA-STREAMING_MEDIA_DEVICES                    110
MLA-TV_REMOTE_CONTROLS                          48
MLA-AUDIO_AND_VIDEO_CABLES_AND_ADAPTERS         43
MLA-TV_AND_MONITOR_MOUNTS                        9
MLA-TV_REMOTE_CONTROL_COVERS                     1
MLA-TV_RECEIVERS_AND_DECODERS                    1
MLA-ELECTRONIC_ACCESSORIES_AND_SPARE_PARTS       1
Name: domain_id, dtype: int64

In [ ]:
# reemplazar los nulos por 0, para no conservar nulos en esa area

In [ ]:
auxi = [{'a':1, 'b':2},{'a':4,'c':23, 'dic':{'aaaa':9999}}]
print( type(auxi) )
pd.DataFrame(auxi)

In [ ]:
auxi2 = list (df_cel['seller']) 
print( type(auxi2 ) )
#pd.DataFrame(auxi2)

In [ ]:
df.seller.apply(pd.Series)

In [ ]:
# con pop extraigola columna de interes para no dropear en otro paso
#pd.DataFrame(df.pop('seller').tolist()).fillna(0)
#df1 = df.join(pd.DataFrame(df.pop('cat_counts').tolist()).fillna(0).astype(int))

In [ ]:
df[['available_quantity','sold_quantity']]